In [1]:
# Add a markdown cell at the top of each notebook with the title of this assignment, an appropriate name for the data set, as well as your name and the date

# Data Analysis with Pandas , Part one Video Game , Mohammad Nada , 21/jun/2021

#### Which company is the most common video game publisher?

In [2]:
import pandas as pd
import numpy as np

#### Read CSV file using Pandas, output is a data frame¶

In [3]:
df = pd.read_csv('./vgsales.csv')

In [4]:
df # show all data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [5]:
# df.head(20) # show the first 20 elements 
# df.iloc[20]

#### Q1:Which company is the most common video game publisher?

In [6]:
most_publisher=df['Publisher']

In [7]:
# most_publisher.describe()

In [8]:
most_publisher.describe().top

'Electronic Arts'

#### Q2/What’s the most common platform?

In [9]:
df['Platform'].describe().top

'DS'

#### Q3/What about the most common genre?

In [10]:
df['Genre'].describe().top

'Action'

#### Q4/What are the top 20 highest grossing games?

In [11]:
top_20_grossing=df.head(20).groupby(['Rank','Name','Global_Sales'])
# top_20_grossing=df.head(20).groupby(['Global_Sales','Name'])
# top_20_grossing.describe()

In [12]:
top_20_grossing.agg({'Rank':'max'})

                                                                Rank
Rank Name                                         Global_Sales
1    Wii Sports                                   82.74            1
2    Super Mario Bros.                            40.24            2
3    Mario Kart Wii                               35.82            3
4    Wii Sports Resort                            33.00            4
5    Pokemon Red/Pokemon Blue                     31.37            5
6    Tetris                                       30.26            6
7    New Super Mario Bros.                        30.01            7
8    Wii Play                                     29.02            8
9    New Super Mario Bros. Wii                    28.62            9
10   Duck Hunt                                    28.31           10
11   Nintendogs                                   24.76           11
12   Mario Kart DS                                23.42           12
13   Pokemon Gold/Pokemon Silver                  23.10           13
14   Wii Fit                                      22.72           14
15   Wii Fit Plus                                 22.00           15
16   Kinect Adventures!                           21.82           16
17   Grand Theft Auto V                           21.40           17
18   Grand Theft Auto: San Andreas                20.81           18
19   Super Mario World                            20.61           19
20   Brain Age: Train Your Brain in Minutes a Day 20.22           20

#### Q5/ For North American video game sales, what’s the median?

In [13]:
median_NourthAmerica=df['NA_Sales'].median()
# median_NourthAmerica=df['NA_Sales'].describe()
tableNA_Sales=df['NA_Sales']
tableNA_Sales

0        41.49
1        29.08
2        15.85
3        15.75
4        11.27
         ...
16593     0.01
16594     0.01
16595     0.00
16596     0.00
16597     0.01
Name: NA_Sales, Length: 16598, dtype: float64

In [14]:
median_NourthAmerica

0.08

In [15]:
sameMedian=df[df['NA_Sales']==median_NourthAmerica]
sameMedian

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
446,447,Dragon Warrior IV,NES,1990.0,Role-Playing,Enix Corporation,0.08,0.00,3.03,0.01,3.12
497,498,World Soccer Winning Eleven 7 International,PS2,2003.0,Sports,Konami Digital Entertainment,0.08,1.24,1.13,0.45,2.90
1617,1619,Farming Simulator 2015,PC,2014.0,Simulation,Focus Home Interactive,0.08,1.02,0.00,0.13,1.23
1926,1928,Pro Evolution Soccer 2008,X360,2007.0,Sports,Konami Digital Entertainment,0.08,0.90,0.04,0.05,1.07
2067,2069,Winning Eleven: Pro Evolution Soccer 2007 (All...,X360,2006.0,Sports,Konami Digital Entertainment,0.08,0.90,0.02,0.00,1.00
...,...,...,...,...,...,...,...,...,...,...,...
11403,11405,My English Coach: Para Hispanoparlantes,DS,2009.0,Misc,Ubisoft,0.08,0.00,0.00,0.01,0.08
11431,11433,Little League World Series Baseball: Double Play,DS,2010.0,Sports,Activision,0.08,0.00,0.00,0.01,0.08
11432,11434,DanceDanceRevolution,X360,2011.0,Simulation,Konami Digital Entertainment,0.08,0.00,0.00,0.01,0.08
11455,11457,The Hidden,3DS,NaN,Adventure,Unknown,0.08,0.00,0.00,0.00,0.08
11492,11494,Ultimate Shooting Collection,Wii,2008.0,Shooter,Milestone,0.08,0.00,0.00,0.00,0.08

In [16]:
len_samemidean=len(sameMedian)
slice_from =round(len_samemidean/2)#230
slice_from

230

In [17]:
theFinalResult=sameMedian[slice_from-5:slice_from+5]
# theFinalResult.describe()
theFinalResult

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
9934,9936,Turok: Evolution,GBA,2002.0,Shooter,Acclaim Entertainment,0.08,0.03,0.00,0.00,0.12
9957,9959,Deadpool,XOne,2015.0,Action,Activision,0.08,0.03,0.00,0.01,0.12
9996,9998,GT Advance 2: Rally Racing,GBA,2001.0,Racing,THQ,0.08,0.03,0.00,0.00,0.11
10000,10002,A Witch's Tale,DS,2009.0,Role-Playing,Nippon Ichi Software,0.08,0.00,0.03,0.01,0.11
10012,10014,Nickelodeon Dance,X360,2011.0,Misc,Take-Two Interactive,0.08,0.02,0.00,0.01,0.11
10020,10022,Phantasy Star Collection,GBA,2002.0,Role-Playing,Atari,0.08,0.03,0.00,0.00,0.11
10022,10024,LEGO Knights' Kingdom,GBA,2004.0,Action,THQ,0.08,0.03,0.00,0.00,0.11
10024,10026,Family Game Night 4: The Game Show,PS3,2011.0,Misc,Electronic Arts,0.08,0.02,0.00,0.01,0.11
10026,10028,NBA Jam 2002,GBA,2002.0,Sports,Acclaim Entertainment,0.08,0.03,0.00,0.00,0.11
10029,10031,Tony Hawk's Pro Skater 5,XOne,2015.0,Sports,Activision,0.08,0.02,0.00,0.01,0.11

### For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [18]:
# Z = (dataPoint-mean)/standerDeviation what is the dataPoint

In [19]:
NA_Sales=df['NA_Sales']##0.8166830292988796
medianNA=NA_Sales.mean()# 0.08
test=NA_Sales[0]# 41.49
standerDeviation=(test-medianNA)/NA_Sales.std()
standerDeviation

50.47898767479108

#### The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [20]:
# the reult is (0.5374406555006628, 0.6994037735849057)
# italy_data = df[ df['location']=='Italy' ]
# df
Wii_data=df[ df['Platform']=='Wii']# [italy_data['date']=='2021-06-18']
avgSales_Wii=Wii_data['Global_Sales'].mean()# the second number

In [21]:
notWiiData=df[ df['Platform']!='Wii']
avgSales_not_Wii=notWiiData['Global_Sales'].mean()# the second number

In [22]:
print('(',avgSales_Wii,',',avgSales_Wii,')')

( 0.6994037735849057 , 0.6994037735849057 )